body {
  margin: 10px;
  background: #2d3436;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.card-header-title p {
  margin: 0;
}

.card-content p {
  margin: 0;
}

.card-content-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  border-radius: 0 0 18px 18px;
  padding: 5px 0 18px 0;
}

.card-content-bottom-left b {
  font-size: 1.8em;
}

.card-content-bottom-right b {
  font-size: 2.4em;
}
